


model_config_list:{
    config:{
      name:"ssd",
      base_path:"/models/multi_model/ssd",
      model_platform:"tensorflow",
      model_version_policy:{
        all:{}
      }
    },
    config:{
      name:"xception",
      base_path:"/models/multi_model/xception",
      model_platform:"tensorflow"
    }
}
